server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: containers
    static_configs:
      - targets:
          - localhost
        labels:
          job: containerlogs
          __path__: /var/lib/docker/containers/*/*log
    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            attrs: attrs
      - json:
          expressions:
            tag: tag
          source: attrs
      - regex:
          expression: (?P<container_name>(?:[a-zA-Z0-9][a-zA-Z0-9_.-]+))
          source: tag
      - labels:
          stream:
          container_name:
      - json:
          expressions:
            level: level
            timestamp: timestamp
            logger_name: logger_name
            thread_name: thread_name
            message: message
            traceId: traceId
            spanId: spanId
          source: output
      - labels:
          level:
          trace_id: traceId
      - timestamp:
          source: timestamp
          format: RFC3339Nano
      - match:
          selector: '{trace_id=""}'
          stages:
            - labeldrop:
                - trace_id
      - output:
          source: output

